---
import { getUniqueTags } from '../../lib/utils';

interface Props {
  posts: Array<{ data: { tags: string[] } }>;
}

const { posts } = Astro.props;
const tags = getUniqueTags(posts);
---

{tags.length > 0 && (
  <div class="tag-cloud">
    {tags.map((tag) => (
      <a href={`/blog/tags/${tag}/`} class="tag">{tag}</a>
    ))}
  </div>
)}
